body {
	background-image: url("gridme.png");
}

#content {
	width: 50%;
	margin: auto;
	text-align: center;
	font-family: Courier New;
	color: #634d36;
	margin-top: 200px;

}

h1 {
	font-variant: small-caps;
}

#topContent {
	position: relative;
	bottom: 0px;
	-webkit-transition:  1.0s;
    transition: 1.0s;
}

#random{
	background-color: #cc6300;
	color: white;
	border-radius: 20%;
	border-style: none;
	-webkit-transition: background-color 1.0s, color 1.0s;
    transition: background-color 1.0s,  color 1.0s;
    font-family: Geneva;
    padding: 5px;

}

#random:hover {
	background-color: white;
	color: #634d36;
}

#field {
	opacity: 0;
	z-index: -1;
	-webkit-transition:  1.0s;
    transition: 1.0s;

}

.drag{
	z-index: 10;
	width: 36px;
	padding: 5px;
	background-color: #ffd9b3;
	color: white;
	border-radius: 20%;
	border-style: none;
	-webkit-transition: background-color 1.0s, color 1.0s;
    transition: background-color 1.0s,  color 1.0s;
}

.drag:hover {
	background-color: white;
	color: #634d36;

}

#answers{
	margin: auto;
	height:201px;
	width:416px;
	position: relative;
	z-index: -1;
	padding: 10px;
}

.white{
	border: 1px solid grey;
	background-color:#e9e9e9;
	width: 40px;
	height: 200px;
	float:left;
	padding: 0px 5px 0px 5px;
}

#sharp1 {
	position: relative;
	top:-201px;
	left:26px;
}

#sharp2 {
	position: relative;
	top:-201px;
	left:88px;
}

.black{
	width: 30px;
	height: 110px;
	float:left;
	background-color: gray;
	margin: 0px 9px 0px 9px;
}
.slot{
	height:17px;
	width:80%;
	background-color:  #ffa34d;
	border-radius: 20%;
	margin: auto;
	z-index: 0;
	padding:0;
	position: relative;
	top: 90%;
}

#answer {
	opacity: 0;
	width: 100%;
	color: white;
	-webkit-transition:  1.0s;
    transition: 1.0s;
    position: relative;
    top: -75px;
}

#submission {
	width: 20%;
	margin: auto;
	position: relative;
	top: -75px;

}


#submitb{
	background-color: #cc6300;
	color: white;
	border-radius: 20%;
	border-style: none;
	-webkit-transition: background-color 1.0s, color 1.0s;
    transition: background-color 1.0s,  color 1.0s;
    z-index: 1;
    font-family: Geneva;
    padding: 5px;
    

}

#submitb:hover {
	background-color: white;
	color: #634d36;
}